In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
Data = pd.read_csv("C:\\Users\\hp\OneDrive\\Desktop\\Project\\BBC News Train.csv")
Data

,ArticleId,Text,Category
0,1833,worldcom ex-boss launches defence lawyers defe...,business
1,154,german business confidence slides german busin...,business
2,1101,bbc poll indicates economic gloom citizens in ...,business
3,1976,lifestyle governs mobile choice faster bett...,tech
4,917,enron bosses in $168m payout eighteen former e...,business
...,...,...,...
1485,857,double eviction from big brother model caprice...,entertainment
1486,325,dj double act revamp chart show dj duo jk and ...,entertainment
1487,1590,weak dollar hits reuters revenues at media gro...,business
1488,1587,apple ipod family expands market apple has exp...,tech
1489,538,santy worm makes unwelcome visit thousands of ...,tech

In [6]:
Data.shape

(1490, 3)

In [11]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ArticleId  1490 non-null   int64
 1   Text       1490 non-null   object
 2   Category   1490 non-null   object
dtypes: int64(1), object(2)
memory usage: 35.0+ KB

In [13]:
Data.describe()

         ArticleId
count  1490.000000
mean   1119.696644
std     641.826283
min       2.000000
25%     565.250000
50%    1112.500000
75%    1680.750000
max    2224.000000

In [1]:
import pandas as pd
from tqdm import tqdm

# Enable progress_apply for pandas
tqdm.pandas()

# Create a simple dataframe
df = pd.DataFrame({'numbers': range(100)})

# Define a slow function to simulate a time consuming apply operation
def slow_square(x):
    import time
    time.sleep(0.01)
    return x**2

# Use progress_apply instead of apply
df['numbers'].progress_apply(slow_square)

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:01<00:00, 63.33it/s]

0        0
1        1
2        4
3        9
4       16
      ...
95    9025
96    9216
97    9409
98    9604
99    9801
Name: numbers, Length: 100, dtype: int64